{% load i18n ical_tags %}
{% if feed %}
<dl class="ical">
  {% for event in feed %}<dt>
    {% if event.url %}<a href="{{ event.url }}">{% endif %}{% spaceless %}
    {% if event.summary %}{{ event.summary }}
    {% else %}{% trans 'Event' %} {{ forloop.counter }}{% endif %}
    {% endspaceless %}{% if event.url %}</a>{% endif %}
  </dt>
  <dd><ul>
    <li>{% event_time_long event %}</li>
{% if event.location %}    <li>{{ event.location }}</li>
{% endif %}{% if event.description %}    <li>{{ event.description }}</li>
{% endif %}{% if event.comment %}    <li>{{ event.comment }}</li>
{% endif %}  </ul></dd>{% endfor %}
</dl>
{% else %}
{% trans 'No events' %}
{% endif %}
